@media screen and (max-width:1024px) {
      .profile img {
            width: 250px;
            height: 250px;
      }
      .content {
            padding-left: 4rem;
      }
}
@media screen and (max-width:900px){
      .container {
            grid-template-columns: 1.5fr 1fr;
            padding-top: 5%;

      }
      .text p {
            line-height: 25px;
      }

      .content {
            padding-left: 2.5rem;
      }
}

@media screen and (max-width:475px){
      .container {
            padding-top: 5%;
      }
      .profile img {
            width: 200px;
            height: 200px;
      }
}
@media screen and (max-width:768px){
      body {
            overflow:scroll;
      }
      .container {
            grid-template-columns: repeat(1,1fr);
            padding-bottom: 0;
      }
      .content {
            padding: 0 1rem;
      }
      .text {
            text-align: center;
            padding: 0rem;
      }
      .text h2{
            font-size: 2.5rem;
      }
      .text p {
            margin-top: 10px;
            padding: 0 1rem; 
            font-size: 1.2rem;
      }
      .profile  {
            grid-area: 1;
      }
      .wave {
            display: none;
      }
      .footer-link {
            display: none;
      }
      .mobile-nav {
            display: block;
      }
      .menu-button {
            width: 120px;
            height: 120px;
            font-size: 1px;
      }
      .menu-button p {
            font-size: 2rem;
      }
      .menu-btn {
            width: 80px;
            height: 80px;
            margin: -40px;
      }
      #menu:target>.menu-btn:nth-child(7) {
            transform: rotate(-90deg) translateY(-120px) rotate(90deg);
            transition-delay: 0s;
      }
      #menu:target>.menu-btn:nth-child(6) {
            transform: rotate(90deg) translateY(-120px) rotate(-90deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(5) {
            transform: rotate(45deg) translateY(-120px) rotate(-45deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(4) {
            transform: rotate(-45deg) translateY(-120px) rotate(45deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(3) {
            transform: rotate(0deg) translateY(-120px) rotate(0deg);
            transition-delay: 0s;
      }
}
@media screen and (max-width:320px) {
      .menu-button {
            width: 100px;
            height: 100px;
            font-size: 1px;
      }
      .menu-button p {
            font-size: 1.5rem;
      }
      .menu-btn {
            width: 60px;
            height: 60px;
            margin: -30px;

      }
      .menu-btn a {
            font-size: 1rem;    
      
      }
      #menu:target>.menu-btn:nth-child(7) {
            transform: rotate(-90deg) translateY(-100px) rotate(90deg);
            transition-delay: 0s;
      }
      #menu:target>.menu-btn:nth-child(6) {
            transform: rotate(90deg) translateY(-100px) rotate(-90deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(5) {
            transform: rotate(45deg) translateY(-100px) rotate(-45deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(4) {
            transform: rotate(-45deg) translateY(-100px) rotate(45deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(3) {
            transform: rotate(0deg) translateY(-100px) rotate(0deg);
            transition-delay: 0s;
      }
}
