@media screen and (max-width:768px) {
      .mobile-nav {
            display: block;
      }
      .menu-button {
            width: 120px;
            height: 120px;
            font-size: 1px;
      }
      .menu-button p {
            font-size: 2rem;
      }
      .menu-btn {
            width: 80px;
            height: 80px;
            margin: -40px;
      }
      #menu:target>.menu-btn:nth-child(7) {
            transform: rotate(-90deg) translateY(-120px) rotate(90deg);
            transition-delay: 0s;
      }
      #menu:target>.menu-btn:nth-child(6) {
            transform: rotate(90deg) translateY(-120px) rotate(-90deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(5) {
            transform: rotate(45deg) translateY(-120px) rotate(-45deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(4) {
            transform: rotate(-45deg) translateY(-120px) rotate(45deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(3) {
            transform: rotate(0deg) translateY(-120px) rotate(0deg);
            transition-delay: 0s;
      }
}
@media screen and (max-width:320px) {
     
      .menu-button {
            width: 100px;
            height: 100px;
            font-size: 1px;
      }
      .menu-button p {
            font-size: 1.5rem;
      }
      .menu-btn {
            width: 60px;
            height: 60px;
            margin: -30px;

      }
      .menu-btn a {
            font-size: 1rem;    
      
      }
      #menu:target>.menu-btn:nth-child(7) {
            transform: rotate(-90deg) translateY(-100px) rotate(90deg);
            transition-delay: 0s;
      }
      #menu:target>.menu-btn:nth-child(6) {
            transform: rotate(90deg) translateY(-100px) rotate(-90deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(5) {
            transform: rotate(45deg) translateY(-100px) rotate(-45deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(4) {
            transform: rotate(-45deg) translateY(-100px) rotate(45deg);
            transition-delay: 0s;
      }
      
      #menu:target>.menu-btn:nth-child(3) {
            transform: rotate(0deg) translateY(-100px) rotate(0deg);
            transition-delay: 0s;
      }
}

/* 
@media screen and (max-width:475px) {
      .menu-btn {
            width: 80px;
            height: 80px;
      }
      menu:target>.menu-btn:nth-child(7) {
      transform: rotate(-90deg) translateY(-170px) rotate(90deg);
      transition-delay: 0s;
}
#menu:target>.menu-btn:nth-child(7) {
      transform: rotate(-90deg) translateY(-170px) rotate(90deg);
      transition-delay: 0s;
}
#menu:target>.menu-btn:nth-child(6) {
      transform: rotate(90deg) translateY(-170px) rotate(-90deg);
      transition-delay: 0s;
}

#menu:target>.menu-btn:nth-child(5) {
      transform: rotate(45deg) translateY(-170px) rotate(-45deg);
      transition-delay: 0s;
}

#menu:target>.menu-btn:nth-child(4) {
      transform: rotate(-45deg) translateY(-170px) rotate(45deg);
      transition-delay: 0s;
}

#menu:target>.menu-btn:nth-child(3) {
      transform: rotate(0deg) translateY(-170px) rotate(0deg);
      transition-delay: 0s;
}
} */