@media screen and (max-width:1450px) {
}

@media screen and (max-width:1213px) {
      .profile-img img {
            width: 550px;
      }

      .project-title p {
            font-size: 0.9rem;
      }

}

@media screen and (max-width:1026px) {
      .content h2 {
            font-size: 2.3rem;
            letter-spacing: 15px;
      }
      
      .content h1 {
            font-size: 2.5rem;
            line-height: 50px;
      }
      
      .content p {
            padding-top: 5px;
            font-size: 0.9rem;
      }
      .project-text {
            height: 350px;
            min-width: 300px;
            padding: 15px;
            max-height: 360px;
      }
      .content-img img {
            width: 230px;
            height: 230px;
      }

      .profile-img img {
            height: 100%;
            width: 470px;
      }

      .project-text h1 {
            font-size: 1.2rem;
      }

      .project-title p {
            font-size: 0.7rem;
      }

      .project-skill p {
            padding: 4px 17px;
            font-size: 0.8rem;
      }

}

@media screen and (max-width:895px) {
      .content h2 {
            font-size: 2.1rem;
            letter-spacing: 15px;
      }
      
      .content h1 {
            font-size: 2.3rem;
            line-height: 50px;
      }
      
      .content p {
            padding-top: 5px;
            font-size: 0.7rem;
      }
      .content-img img {
            width: 210px;
            height: 210px;
      }
      .project-text {
            height: 320px;
            min-width: 300px;
            padding: 15px;
      }
      .profile-img img {
            height: 100%;
            width: 430px;
      }
      .project-text h1 {
            font-size: 0.9rem;
      }

      .project-title p {
            font-size: 0.6rem;
      }

      .project-skill p {
            padding: 4px 17px;
            font-size: 0.7rem;
      }
}
@media screen and (max-width:768px) {
      .nav {
            display: none;
      }
      #menuToggle {
            display: block;
            position: fixed;
      }
      #menu {
            height: 110vh;
      }

      .container {
            padding: 0px 20px;
            max-width: 800px;
      }
      .content {
            display: grid;
            justify-content: center;
      }
      .content-head {
            grid-template-columns: 1fr;
            align-content: center;
      }
      .content-text {
            grid-area: 2;
            text-align: center;
      }
      .content-text br{
            display: block;
      }
      .content-text h2 {
            font-size: 2.3rem;
      }
      .content-text h1 {
            font-size: 2rem;
            padding: 0;
            line-height:normal;
      }
      .content-text p {
            margin: auto;
            padding: 0 30px;
      }
      .content-img {
            padding: 40px 40px 20px 40px;
      }
      .content-img img {
            width: 280px;
            height: 280px;

      }
      .card-project {
            max-width: 380px;
            margin: auto;
            margin-top: 50px;
            max-height: 500px;
      }
      .project-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }
      .profile-img img{
            border-radius: 20px 20px 0 0;
            /* max-height: 190px; */
            width: 100%;
      }
      .project-text {
            border-radius: 0 0 20px 20px;
            height: 40vh;
            width: 100%;
            min-height: 250px;
      }
      .project-title p{
            font-size: 0.7rem;
      }
      #btn {
            height: 5vh;
            margin: 0px;
      }
      .box {
            grid-template-columns: repeat(1,1fr);
            padding: 40px 20px;
            justify-items: center;
      }
      .box-content {
            padding: 20px;
            width: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
      }
      #info h1 {
            font-size: 0.8rem;
            min-width: 320px;
      }
}
@media screen and (max-width:420px) {
      .content-img img{
            width: 180px;
            height: 180px;
      }
      #box-head {
            padding: 0;
      }
      .box {
            padding: 35px 15px;
      }
      .box-content {
            padding: 10px;
      }
      .box-content img {
            width: 180px;
            height: 180px;
      }
      
      #info {
            padding: 0;
      }
      #info h1 {
            font-size: 0.7rem;
            min-width: 270px;
      }
      .icon-contact {
            font-size: 0.8rem;
      }
      .icon-contact ul li i {
            margin: 5px;
            font-size: 1.3rem;
      }
}