            * {
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
            }

            body {
                  width: 100%;
                  height: 100%;
                  background-color: #F1FAEE;
            }

            a {
                  text-decoration: none;
            }

            ul {
                  list-style: none;
            }

            .container {
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  padding: 30px;
            }
            .content p {
                  font-family: 'Poppins-Regular', sans-serif;
            }

            #Skill {
                  text-align: center;
                  line-height: 60px;
                  font-weight: 600;
                  font-size: 2rem;
            }

            #line {
                  display: flex;
                  justify-content: center;
            }
            .card-topic {
                  display: flex;
                  justify-content: center;
            }
            .card {
                  background: linear-gradient(45deg, rgba(168, 218, 220, 1) 0%, rgba(241, 250, 238, 0.2) 100%);
                  border-radius: 25px;
                  border-color: rgba(255, 255, 255, 0.60);
                  border-width: 1px;
                  width: 350px;
                  height: 450px;
                  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.3);
                  backdrop-filter: blur(15px);
                  margin-top: 30px;
            }

            #card-h {
                  color: wheat;
                  text-align: center;
                  padding: 2rem 0rem 2.5rem;
                  color: rgba(69, 123, 157, 0.70);
                  font-weight: 700;
                  font-family: 'Poppins-Bold', sans-serif;
                  letter-spacing: 0.3rem;
            }

            .card-content {
                  padding-left: 2.5rem;
            }

            .card-content ul i {
                  display: flex;
            }

            #list {
                  display: flex;
                  align-items: center;
                  padding: 0 0 1rem 0;
            }

            #list i {
                  font-size: 3rem;
            }

            #list p {
                  font-family: "mitr";
                  font-family: 900;
                  font-size: 1.5rem;
                  padding-left: 20px;
                  color: #457B9D;
            }


            .footer-link {
                  display: flex;
                  justify-content: center;
            }

            .nav-link {

                  position: absolute;
                  bottom: 30px;
            }

            .btn-link {
                  background: #def2e9;
                  border-radius: 30px;
                  border-width: 1px;
                  border-color: transparent;
            }

            .btn-link ul {
                  display: flex;
                  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                  border-radius: 30px;
            }

            .btn-link li {
                  padding: 10px 25px;

            }

            .nav-link .btn-link ul li a {
                  width: 30px;
                  color: #457B9D;
                  font-family: 'Poppins-Regular', sans-serif;
                  line-height: 21.5px;
                  font-weight: 400;
            }

            .mobile-nav {
                  display: none;
            }

            #menu {
                  position: absolute;
                  bottom: 80px;
                  right: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  list-style: none;
                  font-size: 200%;
            }

            .menu-button {
                  opacity: 0;
                  z-index: -1;
            }

            .menu-button {
                  position: absolute;
                  right: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  border-radius: 50%;
                  background: #E63946;
                  background-size: 100%;
                  overflow: hidden;
                  text-decoration: none;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-family: "mitr";
                  color: white;
                  font-size: 2.5rem;
                  border: 5px solid white;
            }

            #menu:not(:target)>a:first-of-type,
            #menu:target>a:last-of-type {
                  opacity: 1;
                  z-index: 1;
            }

            #menu:not(:target)>.icon-plus:before,
            #menu:target>.icon-minus:before {
                  opacity: 1;
            }

            .menu-btn {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  border-radius: 50%;
                  background-color: #457B9D;
                  transition: transform 500ms;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 4px solid #20506e;
            }

            .menu-btn a {
                  color: white;
                  font-size: 1.1rem;
                  font-family: "mitr";

            }

            #about-me {
                  text-align: center;
                  line-height: 20px;

            }

            .menu-btn:hover {
                  opacity: 0.5;
            }


            @media screen and (max-width:768px) {
                  .nav-link {
                        display: none;
                  }

                  .mobile-nav {
                        display: block;
                  }

                  .menu-button {
                        width: 120px;
                        height: 120px;
                        font-size: 1px;
                  }

                  .menu-button p {
                        font-size: 2rem;
                  }

                  .menu-btn {
                        width: 80px;
                        height: 80px;
                        margin: -40px;
                  }

                  #menu:target>.menu-btn:nth-child(7) {
                        transform: rotate(-90deg) translateY(-120px) rotate(90deg);
                        transition-delay: 0s;
                  }

                  #menu:target>.menu-btn:nth-child(6) {
                        transform: rotate(90deg) translateY(-120px) rotate(-90deg);
                        transition-delay: 0s;
                  }

                  #menu:target>.menu-btn:nth-child(5) {
                        transform: rotate(45deg) translateY(-120px) rotate(-45deg);
                        transition-delay: 0s;
                  }

                  #menu:target>.menu-btn:nth-child(4) {
                        transform: rotate(-45deg) translateY(-120px) rotate(45deg);
                        transition-delay: 0s;
                  }

                  #menu:target>.menu-btn:nth-child(3) {
                        transform: rotate(0deg) translateY(-120px) rotate(0deg);
                        transition-delay: 0s;
                  }
            }
            @media screen and (max-width:380px) {
                  .card {
                        width: 300px;
                        height: 350px;
                  }
            }
            @media screen and (max-width:360px) {
                  .container {
                        padding-top: 10px;
                  }
                  .card {
                        width: 300px;
                        height: 330px;
                  }
                  .menu-button {
                        width: 100px;
                        height: 100px;
                        font-size: 1px;
                  }

                  .menu-button p {
                        font-size: 1.5rem;
                  }

                  .menu-btn {
                        width: 60px;
                        height: 60px;
                        margin: -30px;

                  }

                  .menu-btn a {
                        font-size: 0.7rem;

                  }

                  #menu:target>.menu-btn:nth-child(7) {
                        transform: rotate(-90deg) translateY(-100px) rotate(90deg);
                        transition-delay: 0s;
                  }

                  #menu:target>.menu-btn:nth-child(6) {
                        transform: rotate(90deg) translateY(-100px) rotate(-90deg);
                        transition-delay: 0s;
                  }

                  #menu:target>.menu-btn:nth-child(5) {
                        transform: rotate(45deg) translateY(-100px) rotate(-45deg);
                        transition-delay: 0s;
                  }

                  #menu:target>.menu-btn:nth-child(4) {
                        transform: rotate(-45deg) translateY(-100px) rotate(45deg);
                        transition-delay: 0s;
                  }

                  #menu:target>.menu-btn:nth-child(3) {
                        transform: rotate(0deg) translateY(-100px) rotate(0deg);
                        transition-delay: 0s;
                  }
            }
            @media screen and (max-height:748px){
                  #card-h {
                        font-size: 2rem;
                        padding: 1.5rem;
                  }
                  .card {
                        width: 290px;
                        height: 330px;
                  }
            }
            @media screen and (max-height:640px){
                  #card-h {
                        font-size: 2rem;
                        padding: 1.5rem;
                  }
                  .card {
                        width: 290px;
                        height: 290px;
                  }
            }
            @media screen and (max-height:576px){
                  #card-h {
                        font-size: 1.5rem;
                        letter-spacing: 2px;
                  }
            }